*{
    margin: 00px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    
}


/*here am describing the whole navbar, the structure how it should look its color and page only nothing more*/
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    background: aqua;
    z-index: 9;
}


.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
}

.search{
    width: 400px;
    display: flex;
}

.search-bar{
    width: 400px;
    height: 30px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;
    text-transform: uppercase;
    background: none;
    color:blue;
    outline: none;
    position:absolute;
    top: 15px;
    right: 0;
    
}

.search+{
    width:45px;
    height: 13px;
    color: black;


}
    .links{
        float:center;
        position:absolute;
        top:93px;
        right: 260px;
        display: block;
        justify-content: space-between;
    }
    
    .lists{
        list-style: none;
    }
    nav li{
        float: left;
        word-spacing: 3.5px;
    
    }
    nav a{
        margin-left: 30px;
        color:brown;
    }
    
    .cart{
        float: right;
        right: 40px;
        top: 60px;
        position: absolute;
    }
    
    
    ol{
        float:right;
        right: 630px;
        color:blueviolet;
        position: relative;
        
        
        
    }
    
    table{
        border: 1px solid black;
        float: right;
        right: 530px;
        top: 94px;
        color:blueviolet;
        border-spacing: 5px;
        position: relative;
        
    
    }
    table, th{
        border: 3px solid yellow;
    }
    table,tr{
        border: 1px solid gold;
        border-spacing: 5px;
    }
    .img1{
        border-top-style: ridge;
        
        position: relative;
        
    }
    .bottom-left{
        position: absolute;
        bottom: 8px;
        left: 16px;
        text-align: justify;
        justify-content: left;
        color:beige;
    
    }
    .img2{
        position: relative;
        float: right;
        padding-right: 5px;
        padding-top: 5px;
        border-radius: 50px;
        top: 130px;
        
    }
    .img3{
        
        position: relative;
        border-radius: 50px;
    }

    .img4{
        border-top-style: ridge;
        
        position: absolute;
        float: right;
        padding-right: 0px;
        right: 3px;
        border-radius: 50px;
        top: 200px;
    }
    .img5{
        position: relative;
        border-radius: 50px;
    }
    .img6{
        position: relative;
    }
    .img7{
        border-top-style: ridge;
        
        position: absolute;
        float: right;
        top: 920px;
        right: 3px;
        
    }

    