/*here i have described thec margin and the padding to both be zero so as to remove the automatic styling of the page*/
*{
    margin: 00px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    
}


/*here am describing the whole navbar, the structure how it should look its color and page only nothing more*/
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    background: aqua;
    z-index: 9;
}


.nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;

}
.search{
    width: 400px;
    display: flex;
}

.search-bar{
    width: 400px;
    height: 30px;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;
    text-transform: uppercase;
    background: none;
    color:blue;
    outline: none;
    position:absolute;
    top: 15px;
    right: 0;
    
}

.search+{
    width:45px;
    height: 13px;
    color: black;


}
.links{
    float:center;
    position:absolute;
    top:93px;
    right: 360px;
    display: block;
    justify-content: space-between;
}

.lists{
    list-style: none;
}
nav li{
    float: left;
    word-spacing: 3.5px;

}
nav a{
    margin-left: 30px;
    color:brown;
}

.cart{
    float: right;
    right: 40px;
    top: 60px;
    position: absolute;
}
ol{
    float: right;
    right: 600px;
    color: greenyellow;
    position: relative;
}

table{
    border: 1px solid black;
    float: right;
    right: 605px;
    top: 20px;
    color:yellowgreen;
    border-spacing: 5px;
    position: relative;
    background-image: url(./images/background.jpg);

}
table, th{
    border: 3px solid yellow;
}
table,tr{
    border: 1px solid gold;
    border-spacing: 5px;
}
